@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

:root {
    --black: rgb(16, 16, 16);
    --dark-grey: rgb(38, 36, 36);
    --white: #DAFFFB;

    --primary-blue: #001C30;
    --primary-blue-2: #002138;
    --secondary-blue: #176B87;
    --tertiary-blue: #389abb;
    --quarterly-blue: #64CCC5;

    font-family: 'Merriweather', sans-serif;
    font-size: 16px;

}

body {
    background: hsla(0, 0%, 7%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 7%, 1) 0%, hsla(205, 100%, 9%, 1) 100%);
    background-attachment: fixed;
    color: var(--white);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    width: 0.45rem;
}

body::-webkit-scrollbar:horizontal {
    height: 0.45rem;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track:horizontal {
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--white);
    border-radius: 20px;
}

body::-webkit-scrollbar-corner {
    background-color: var(--black);
}


