@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&family=Merriweather:wght@400;700&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

:root {


    --neutral-100-minor: rgba(255, 241, 241, 0.68);
    --neutral-100: #fff1f1;
    --neutral-200: #d4d4d4;
    --neutral-300: #b8b8b8;
    --neutral-400: #9c9c9c;
    --neutral-500: #808080;
    --neutral-600: #636363;
    --neutral-700: #474747;
    --neutral-800: #2a2a2a;
    --neutral-900: #0e0e0e;
    --neutral-1000: #030303;

    --brand-100: #e5f6fd;
    --brand-200: #b0e4f9;
    --brand-300: #7bd2f5;
    --brand-400: #389abb;
    --brand-500: #12aeed;
    --brand-600: #0e87b8;
    --brand-700: #0a6184;
    --brand-800: #063a4f;
    --brand-900: #001B26;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(138deg, rgba(0, 0, 0, 1) 0%, rgba(0, 27, 38, 1) 100%);
    background-attachment: fixed;
    color: var(--neutral-100);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overscroll-behavior-x: none;
}

html {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 0.45rem;
}

body::-webkit-scrollbar:horizontal {
    height: 0.45rem;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track:horizontal {
    background-color: var(--neutral-900);
}

body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--neutral-100);
    border-radius: 20px;
}

body::-webkit-scrollbar-corner {
    background-color: var(--neutral-900);
}


